<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Login &amp; Co.</h1>
        <nav>
          <a href="#">Logs</a>
          <a href="#">Inns</a>
          <a href="#">Kenny Loggins</a>
          <a href="/logout">Logout</a>
        </nav>
      </header>
      <main>
        {{{yield}}}
      </main>
      <footer>
        <p>&copy; Login &amp; Co.</p>
      </footer>
    </div>
  </body>
</html>
